#div1 {
    position: relative;
    text-align: center;
    color: white;
    background: url('../img/home-header.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100%;
}

.header-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 0, 0.2)
}

.logo {
    position: absolute;
    top: 2%;
    left: 2%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.icon-container {
    position: absolute;
    display: flex;
    top: 2%;
    right: 10px;
    
}

.icon-text {
    margin-left: 20px;
    font-family: 'PT Serif', serif;
    font-size: 25px;
    font-weight: 700;
}

.logo-text {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-family: 'PT Serif', serif;
    font-size: 55px;
}

.about-us-container {
    position: relative;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Serif', serif;
    font-size: 25px;
    color: RGB(140,56,61)
}

.order-now {
    display: flex;
    position: relative;
    color: black;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
}

.photo-container {
    display: flex;
}

.photo-container img {
    width: 25%;
    height: 500px;
    object-fit: cover;
    margin: 0;
}

.photo-container::after {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
}

.order-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Serif', serif;
    font-size: 50px;
    font-weight:bolder;
    width: 200px;
    height: 100px;
    transform: translate(-50%, -50%); /* Center the text box */
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove the underline from the link */
    color: black; /* Set the text color */
}

.info {
    display: flex;
    position: relative;
    color: black;
    justify-content: center;
    align-items: stretch;
    overflow: auto;
    background: rgb(151, 0, 0);
    height: 300px;
}

.info-container {
    display: flex; 
    justify-content: space-between; 
    position: relative;
    text-align: center;
    padding: 10px;
    gap: 30px;
}

.info-container div {
    flex: 1; /* give all child divs equal width */
    height: 500px;
    margin: 0;
}

h1 {
    font-family: 'Roboto Serif', serif;
    font-size: 30px;
    color: white;
}
h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 25px;
    color: white;
}